*.DS_Store
.idea/
**/.idea/
*.iml
**/*.iml
.vscode/
**/api.http
serviceAccountKey.json

.gradle/
**/.gradle/
build/
**/build/
captures/
**/captures/

local.properties
**/local.properties
*.key
*.keystore
**/*.jks
app/app/release/*.aab

.externalNativeBuild
.cxx
**/.cxx
navEditor.xml
assetWizardSettings.xml